# lightning.pytorch==2.3.2
seed_everything: 0
trainer:
  callbacks:
    - class_path: callback.ValidationCallback
  accelerator: gpu
  devices: [0]
  # accelerator: auto
  # devices: auto
  strategy: ddp_find_unused_parameters_true
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
  max_epochs: 50
  check_val_every_n_epoch: 1
  accumulate_grad_batches: 1
ckpt_path: null
model:
  class_path: fm_models.BackgroundFlowModel
  init_args:
    n_dims: 10

data:
  class_path: dataloader.SignalDataloader
  init_args:
    signal_classes:
      - "Background"
      - "Glitch"
      - "FakeGlitch"
    priors:
      - null # Background
      - null # Glitch
      - null # FakeGlitch
    waveforms:
      - null # Background
      - null # Glitch
      - null # FakeGlitch
    extra_kwargs:
      - null # Background
      - null # Glitch
      - null # FakeGlitch
    sample_rate: 4096
    kernel_length: 0.5
    psd_length: 64
    fduration: 1
    fftlength: 2
    batch_size: 256
    batches_per_epoch: 20
    num_workers: 4
    data_saving_file: null