ifos: ["H1", "L1"]
# psd_length: 64
# fduration: 1
# kernel_length: 0.09765625
kernel_length: 0.5
Tb: 31536000
# Tb: 31536000
batch_size: 1
stride_batch_size: 512
sample_rate: 2048
# fname: /home/hongyin.chen/Data/GWAK_data/gwak_infer_data
fname: /home/katya.govorkova/gwak2_background
ccsn_repo: /home/hongyin.chen/Data/3DCCSN_PREMIERE/Resampled_2048 # 1 kpc
data_format: hdf5 # gwf
shifts: [0, 1]
project: combination
model_repo_dir: /home/eric.moreno/gwak2/gwak/output/export
image: hermes/tritonserver:24.01
result_dir: /home/eric.moreno/gwak2/gwak/output/infer
rate_limit: 6
load_model_patients: 50
inference_sampling_rate: 1
