ifos: ["H1", "L1"]
# ifos: ["H1", "V1"]
# ifos: ["L1", "V1"]
psd_length: 64
Tb: 0
# Tb: 2592000 # 30 Days
# Tb: 31536000 # One Year
stride_batch_size: 256
sample_rate: 4096
# fname: /home/hongyin.chen/Data/GWAK_data/gwak_infer_data_4K
# fname: /home/hongyin.chen/Data/GWAK_data/gwak_inspect
# fname: /home/eric.moreno/gwak2_temp/gwak/gwak/output/O4_MDC_background/HL
fname: /home/hongyin.chen/Data/GWAK_data/MDC_short-0/HL
ccsn_repo: /home/hongyin.chen/Data/3DCCSN_PREMIERE/Resampled # 1 kpc
data_format: h5 # gwf
shifts: [0, 1]
project: null
image: hermes/tritonserver:23.01
model_repo_dir: null 
result_dir: null  
job_rate_limit: 4
monitor_patients: 30
inference_sampling_rate: 4
inj_type: null
cl_config: S4_SimCLR_multiSignalAndBkg
fm_config: NF_onlyBkg
